.social {
  display: flex;

  &__item {
    margin-right: 10px;
  }

  &__icon {
    @include size(32px);
    fill: #fff;
    transition: all 0.3s;

    &--purpule {
      fill: var(--purpule);
    }

    &:hover {
      fill: var(--orange);
      transform: scale(1.1);
    }
  }
}
